// Place all the styles related to the anotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#anotation_note{
    resize: none;
    min-height: 10em;
}

select#anotation_priority{
    width: 10rem;
}

#q_title_or_note_cont{
    margin: 0 .8rem;
}
.prioridade-alta{
    background: #f52732;
}
.prioridade-media{
    background: #d2f525;
}
.prioridade-baixa{
    background: #03f838;
}